.client{
    max-width: 100%;
    max-height: 100%;
}
.client img{
    width: 80%;
    height: auto;
}

.slick-arrow {
    background-color: rgb(31, 9, 227);
    border-radius: 50%;
}

.slick-prev {
    z-index: 1;
    left: 20px !important;
}

.slick-next {
    z-index: 1;
    right: 20px !important;
}
